/*Header*/
header .logo img {
    max-width: 150px;
}


body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2695c1+0,2aace0+50,7db9e8+99,7db9e8+99,7db9e8+99,22c7d6+100 */
  background-color: #FFFFFF;
  background-image: url('../images/background watercolor.png');
}
